@charset "UTF-8";

/*Configurações globais*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;  
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}

/*Configurações do Header*/
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}

/*Configurações do main*/
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(96, 94, 94);
    color: white;
}
section.imagem > p{
    width: 350px;
    background-color: rgba(0, 0, 0, 0.4);
}


/*Configurações do footer*/
footer{
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}